

@font-face {
    font-family: 'FontAwesome';
    src: url('/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
}


body, button, select, input {
    font-family: 'San Francisco UI', 'Helvetica Neue', 'Lucida Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
}


.orders {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}


h1 {
    display: block;
    font-size: 270%;
    opacity: 0.4;
    font-weight: 100;
}


h2 {
    opacity: 0.8;
    padding-bottom: 10px;
    margin-top: -10px;
}


.selector {
    text-align: center;
    padding-bottom: 10px;
}


.label {
    display: inline-block;
    width: 100px;
    text-align: right;
}


button {
    display: block;
    padding: 20px;
    background-color: black;
    opacity: 0.5;
    color: white;
    border: none;
}


button:hover {
    opacity: 0.9;
    cursor: pointer;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}


.header button {
    font-size: 100%;
    padding: 10px;
    font-weight: 900;
}


.select {
    display: inline-block;
    vertical-align: middle;
    background: url("/arrow-bg.png") no-repeat #fff 319px 1px;
    overflow: hidden;
    width: 350px;
}


.hidden {
    display: none !important;
}


.table-toolbox {
    display: none;
}


.table-pager {
    display: none;
}


view-component[name="CalendarComponent"] {
    filter: grayscale(100%);
    font-size: 0.8em;
}


input {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 0;
    width: 342px;
    height: 27px;
    padding-left: 5px;
}


.select select {
    background: transparent;
    height: 30px;
    border: 1px solid black;
    width: 350px;
    padding-left: 10px;
    border-radius: 0;
    -webkit-appearance: none;
}


.flight-code button {
    font-size: 50%;
    padding: 10px;
}


.form-error {
    text-align: center;
    color: darkred;
    font-weight: 200;
    opacity: 0.8;
}

